<h1>This is the index.html.erb file</h1>
<div ng-controller="EventController">
  <button ng-click="basket = basket + 1">Add to basket</button>    
  <div>Your basket has {{ basket }} items in it</div>

  <div>Using basket somewhere else: {{basket}}</div>
  <!-- <div ng-include="'event-list.html'"></div> -->
  <!-- with an 'C' directive -->
  <div class="list-of-events"></div> 
</div>