<h1>This is the index.html.erb file</h1>
<div ng-controller="EventController">
  <div class="list-of-events"></div>
  <div class="show-selected-event"></div>
  <div class="list-of-members"></div>
  <div class="list-of-payments"></div> 
</div>