<div id="layout"> 
  <div ng-controller="EventController">
    <div class="list-of-events"></div>
    <div id="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      <header>
        <h1>This is the index.html.erb file</h1>
        <h2>This is header h2</h2>
      </header>
      <div class="show-selected-event"></div>
      <div class="list-of-members"></div>
      <div class="list-of-payments"></div> 
      <div class="payments-chart"></div>
    </div>
  </div>
</div>