<div id="layout"> 
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <header>
    <h1>WeOWhat</h1>
    <h2>For all events, large or small, record who paid and what for</h2>
  </header>
  <div ng-controller="EventController">
    <div class="list-of-events"></div>
    <div id="main">

      <div ng-show="selectedEvent">
        <div class="event-details pure-g">
          <div class="show-selected-event pure-u-1 pure-u-sm-1 pure-u-md-1-2"></div>
          <div class="list-of-members pure-u-1 pure-u-sm-1 pure-u-md-1-2"></div>
          <div class="list-of-payments pure-u-1 pure-u-sm-1 pure-u-md-1-2"></div> 
          <div class="payments-chart pure-u-1 pure-u-sm-1 pure-u-md-1-2"></div>
        </div>
      </div>
      <div ng-hide="selectedEvent">
        HIDDEN!!!!!
      </div>
    </div>
  </div>
</div>