* {
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
}

[class^="grid-"] {
  float: left;
}

fieldset {
  border-radius: 5px;
  border: 1px solid #FFFFFF;
}

legend {
  font-size: 2em;
  border: 0;
}

.container {
  width: 80%;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.grid-container {
  width: 100%;
  margin: 0 auto;
}

.grid-half {
  width: 50%;
  padding: 0.5em;
  background-color: #5E145E;
  color:    #FFFFFF;
  border-radius: 10px;
}

.reverseColour {
  color:    #5E145E;
  background-color: #FFFFFF;  
}

.site-title {
  font-size: 4em;
  text-align: right;
  padding-right: 0.5em;
}

.site-sub-title {
  font-size: 2em;
  vertical-align: bottom;
  text-align: right;
  padding-right: 0.5em;
}

label { 
  display: inline-block; 
  width: 5em; 
  text-align: left; 
}

input {
  margin: 5px;
}

.button-full-width {
  width: 100%;
  background-color:  #E6E6E6;
  text-decoration: none;
  border: 0;
  padding: .5em 1em;
  border-radius: 2px;
  margin: 0;
}

.we-o-what-img-signin {
  padding-right: 2em;
  text-align: right;
}

#new_user label {
  color: rgb(255, 255, 255);
  padding-right: 0.2em;
}

.input_group {
  margin-bottom: 5px;
}

/*override for mid size screen*/

@media (min-width: 540px) and (max-width: 1000px) {
  .container {
    font-size: 0.7em;
  }

/*  .we-o-what-img-signin {
    visibility: hidden;
    height: 0;
  }*/
  .site-title {
    font-size: 3em;
    text-align: right;
  }

  .site-sub-title {
    font-size: 1.5em;
  }
  label {
    width: 3em;
    text-align: left;
  }
}

/*override for mobile*/

@media (max-width: 540px) {
  .container {
    font-size: 0.5em;
  }
  .grid-half {
    width: 100%;
  }
  .we-o-what-img-signin {
    visibility: hidden;
    height: 0;
  }
  .site-title {
    font-size: 2.5em;
    text-align: center;
  }

  .site-sub-title {
    font-size: 2em;
    text-align: center;
  }
  label {
    text-align: left;
  }
}