#main {
  padding-left: 2em;
  padding-right: 2em;
}

li {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

canvas {
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#search-box {
  margin: 5px;
  width: 125px;
  margin-top: 0.5em;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}

.highlighted {
  background-color: green;
}

#newPaymentButton {
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 2em;
}

header h2 {
  font-size: 1.5em;
}

.content-subhead {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
}

.newEventButton {
  padding: 10px;
  background-color: #7BC761;
  color: white;
}

#possible_event_users {
  display: inline-block;
}
