<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>
<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="#">Events</a>
    <form class="pure-form">
      <input id="search-box" ng-model="search" placeholder="event search" />
    </form>
    <ul>
      <li ng-repeat="event in events | filter: {name: search} | orderBy: 'name'" ng-click="selectEvent(event)" ng-class="{ highlighted: event === selectedEvent }" >
        <a href="#">{{ event.name }}</a>
      </li>
    </ul>
  </div>
</div>
