<h2 class="content-subhead">Payments Made</h2>
<input type="hidden" id="eventId" value="{{event_id}}">
<div ng-show="selectedEvent.active">
<!-- Button to trigger modal -->
<div ng-controller="ModalDemoCtrl">
  <p>
    <button role="button" class="pure-button-primary pure-button" ng-click="open(eventId)">
      New Payment
    </button>
  </p>
</div>
</div>
<h3>Total payments for the event: £{{ payments_total }}</h3>

<table class="pure-table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Reason</th>
      <th>Who paid</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="payment in payments">
      <td>£{{ payment.amount }}</td>
      <td>{{ payment.reason }}</td>
      <td>{{payment.users[0].name}}</td>
    </tr>
  </tbody>
</table>