<form name="newEventForm" class="pure-form pure-form-aligned" role="form" novalidate>
  <fieldset>
    <div class="pure-control-group">
      <label for="name">Event Name</label>
      <input id="name" type="text" placeholder="Event name" ng-model="newEvent.name">
    </div>
    <div class="pure-control-group">
      <label for="description">Description</label>
      <input id="description" type="text" placeholder="Description" ng-model="newEvent.description">
    </div>
    <div class="pure-control-group">
      <label for="location">Location</label>
      <input id="location" type="text" placeholder="Description" ng-model="newEvent.location">
    </div>
    <div class="pure-control-group">
      <label for="start_date">Date paid</label>
      <input id="start_date" ng-model="newEvent.start_date" ui-date>
    </div>
    <div class="pure-control-group">
      <label for="end_date">Date paid</label>
      <input id="end_date" ng-model="newEvent.end_date" ui-date>
    </div>
    <div class="pure-controls">
        <label for="cb" class="pure-checkbox">
            <input id="cb" type="checkbox" ng-model="newEvent.active"> Active
        </label>
    </div>
    <div class="pure-control-group">
      <% User.all.each do |i| %>
        <%= check_box_tag 'event[user_ids][]', i.id, @event.users.include?(i), id: "event_user_ids_#{i.id}" %>
        
        <%= f.label :user_ids, i.name, for: "event_user_ids_#{i.id}" %>
      <% end %>
    </div>
    <a role="button" class="pure-button-primary pure-button" ng-click="ok()">Submit</a>
  </fieldset>
</form>

  <div class="pure-button pure-button-primary">
    <%= f.submit %>
  </div>
<% end %>
